<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">




<ion-card>

  <ion-card-content>

    <ion-item color="dark">
      <ion-label>Nome:</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-label>CPF:</ion-label>
      <ion-input type="number" placeholder=""></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-label>Email:</ion-label>
      <ion-input type="email" placeholder=""></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-label>Senha:</ion-label>
      <ion-input type="password" value=""></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-label>Confirmar:</ion-label>
      <ion-input type="password" value=""></ion-input>
    </ion-item>
  </ion-card-content>

</ion-card>

<div class="botao">
  <ion-button color="tertiary" expand="full" >Salvar</ion-button>
  <ion-button color="tertiary" expand="full" routerLink="/login" >Voltar</ion-button>
  </div>

  <img src="" alt="">

</ion-content>
